.card {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.albumImage {
  width: 120%;
  height: 200px;
  object-fit: cover; /* Prevents overflow */
}

.cardContent {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chipContainer {
  background-color: white; /* White background behind the Chip */
  padding: 5px; /* Adds spacing */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%; /* Make it span full card width */
  display: flex;
  justify-content: flex-start; /* Keep the Chip aligned to the left */
}



.chip {
  background-color: black;
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}

.albumName {
  font-size: 16px;
  font-weight: bold;
  color: white;

}