.section {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toggleButton {
  background-color: black;
  font-size: large;
  font-weight: bold;
  color: #28a745;;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 25px;
}

body {
  background-color: black; /* Set the entire app background */
  color: white;
}

.section {
  background-color: black; /* Ensure Section background matches */
}
